[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karthik km (karthikkm007)
[access "refs/for/refs/*"]
	read = group user/karthik km (karthikkm007)
	push = group user/karthik km (karthikkm007)
	label-Code-Review = -2..+2 group user/karthik km (karthikkm007)
	label-Verified = -1..+1 group user/karthik km (karthikkm007)
	rebase = group user/karthik km (karthikkm007)
	removeReviewer = group user/karthik km (karthikkm007)
	submit = group user/karthik km (karthikkm007)
[access "refs/heads/*"]
	read = group user/karthik km (karthikkm007)
	create = group user/karthik km (karthikkm007)
	push = +force group user/karthik km (karthikkm007)
	pushMerge = group user/karthik km (karthikkm007)
[access "refs/tags/*"]
	push = group user/karthik km (karthikkm007)
	push = +force group user/karthik km (karthikkm007)
